body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main div {
    margin-top: 5px;
}

.btnRoletar {
    margin: 5px;
}

.lendario {
    /* background-color: yellow; */
    color: orangered;
    font-weight: bold;
}

.epico {
    color: purple;
    font-weight: bold;
}

.comum {
    color: black;
}

div#resultado {
    display: flex;
    /* width: 80%; */
    width: 1000px;
    flex-wrap: wrap;
    margin: auto;
}

div#resultado div {
    box-sizing: border-box;
    width: 100px;
    align-items: center;
    justify-content: center;
    padding: 1px 10px;
}